.page-id-60 {

  .about-description {
    margin: 0 auto;
    max-width: 40rem
  }

  .about-organizers {
    @include use-blue-section;

    .organizer {
      margin-bottom: 3rem;

      .organizer-name {
        text-align: center;
      }
    }
  }

  .about-history {
    max-width: 56.25rem;
    margin: 0 auto;

    .history-years {
      position: relative;
      display: flex;
      justify-content: space-between;

      .year-btn {
        height: 3rem;
        width: 3rem;
        border-radius: 8rem;
        padding: 0;
        @include use-heading-style;

        @media (min-width: $bp-phone-lg) {
          height: 4rem;
          width: 4rem;
        }

        @media (min-width: $bp-tablet) {
          height: 5rem;
          width: 5rem;
        }

        @media (min-width: $bp-laptop) {
          height: 8rem;
          width: 8rem;
          font-size: 1.5rem;
        }

        &.active {
          background-color: $dark-pink;
        }
      }

      &::after {
        content: "";
        width: 100%;
        height: 0.125rem;
        background-color: $black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
    
    .history-description {
      margin: 2rem auto 0;
      max-width: 40rem;
      display: grid;
      grid-template-areas: "overlap";
      
      @media (min-width: $bp-laptop) {
        margin: 4rem auto 0;
      }

      .year-description {
        opacity: 0;
        grid-area: overlap;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}