.page-id-60 {

  .about-description {
    margin: 0 auto;
    max-width: 40rem
  }

  .about-organizers {
    @include use-blue-section;

    .organizer {
      margin-bottom: 3rem;

      .organizer-name {
        text-align: center;
      }
    }
  }

  .about-history {
    .year-btn {
      &.active {
        background-color: red;
      }
    }


    .year-description {
      display: none;

      &.active {
        display: unset;
      }
    }
  }
}