.page-id-60 {


  .about-organizers {
    @include use-blue-section;
  }

  .about-history {
    .year-btn {
      &.active {
        background-color: red;
      }
    }


    .year-description {
      display: none;

      &.active {
        display: unset;
      }
    }
  }
}