.blog .site-main {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.site-main .banner-part{
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-column: 1/5;
   
}