.blog {
  
  .blog-intro {
    @include use-blue-section(0, 40rem);

    p {
      margin: 0;
    }
  }

  .newsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include common-grid;
  }
<<<<<<< HEAD
  
  .moreinfo a{
    @include use-button-style;
      display: block;
        text-align: center;
        border-radius: 17px;
        margin: 51px;
        margin-top: 1rem;
        padding: 9px;
        padding-top: 12px;
  }

=======
}
>>>>>>> c78f8fd5773af933c6b0d69b01e6beba51fe9bbd
