.blog {
  
  .blog-intro {
    @include use-blue-section(0, 40rem);

    p {
      margin: 0;
    }
  }

  .newsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include common-grid;
  }
}