.page-id-42  .events{
  display: grid;
  gap: 2rem;
  margin: 0px 0px 0px 0px;
  padding: 10px 5px;
  grid-template-columns: 1fr 1fr 1fr;

     
  @include common-grid;
  }

  .events .event-type{
    text-align: center;
    /* border: 2px solid pink; */
    border-radius: 17px;
    background-color: pink;
    /* width: 88%; */
    margin: 51px;
    padding: 9px;
    text-decoration: none;
  }
   
  





  
