.single-ife-event {

  .event-details {
    max-width: 40rem;
    margin: 0 auto;
  }
  
  .guest-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  
    @media (min-width: $bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (min-width: $bp-laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (min-width: $bp-desktop) {
      grid-template-columns: repeat(5, 1fr);
    }

    .guest {
      img {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }

   .featured-guests h2{
    text-align: center;
  }

  .section-featured-vendors h2{
    text-align: center;
  }
}