.single-product {
  .site-main {
    position: relative;
    .woocommerce-notices-wrapper {
      position: absolute;
      top: 1rem;
      left: 0;
      right: 0;
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        background-color: $white;
        border: 1px solid $black;
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        border-radius: 10rem;
        margin: 0;
        li {
          list-style-type: none;
        }
        @media (min-width: $bp-wc-cart-table) {
          font-size: 1.125rem;
          padding: 0.875rem 1.75rem;
        }
      }
    }
    .product {
      .banner-part {
        margin-bottom: 2rem;
        @media (min-width: $bp-desktop) {
          grid-area: banner;
          margin-bottom: 3rem;
        }
      }
      .woocommerce-product-gallery {
        display: none;
      }
      .onsale {
        display: none;
      }
      .summary.entry-summary {
        & > .price {
          display: none;
        }
        .variations {
          margin-bottom: 1rem;
          tbody {
            tr {
              display: flex;
              flex-direction: column;
              &:last-child {
                margin-top: 1rem;
              }
            }
          }
          .label {
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
            @media (min-width: $bp-wc-cart-table) {
              font-size: 1.35rem;
              margin-bottom: 1rem;
            }
          }
          .value {
            .variable-items-wrapper {
              display: grid;
              grid-template-columns: 1fr;
              @media (min-width: $bp-wc-cart-table) {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 1.5rem;
              }
              .variable-item {
                @include use-button-style;
                background-color: $white;
                padding: 0.75rem 0;
                margin: 0.25rem 0;
                &:hover,
                &:focus {
                  background-color: $dark-blue;
                  color: $white;
                  box-shadow: none;
                }
                &.selected {
                  background-color: $dark-blue;
                  box-shadow: none;
                  color: $white;
                }
                @media (min-width: $bp-wc-cart-table) {
                  font-size: 1.125rem;
                  padding: 1.25rem 0;
                }
              }
            }
          }
        }
        .single_variation_wrap {
          margin-bottom: 4rem;
          .qty {
            font-weight: 700;
            font-size: 1.125rem;
            display: block;
            text-align: center;
            margin-bottom: 0.85rem;
            @media (min-width: $bp-wc-cart-table) {
              font-size: 1.35rem;
              margin-bottom: 1.35rem;
            }
          }
          .quantity {
            .input-text {
              width: 100%;
            }
          }
          .woocommerce-variation-price {
            text-align: center;
            margin-top: 1.5rem;
            .price {
              .amount {
                font-weight: 500;
                font-size: 1rem;
                @media (min-width: $bp-wc-cart-table) {
                  font-size: 1.25rem;
                }
              }
              ins {
                background-color: $blue;
                bdi {
                  font-size: 1.25rem;
                  @media (min-width: $bp-wc-cart-table) {
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
          .woocommerce-variation-availability {
            text-align: center;
            .stock.in-stock {
              margin-top: 1rem;
              color: $dark-pink;
              @media (min-width: $bp-wc-cart-table) {
                font-size: 1.25rem;
              }
            }
          }
          .wc-box-office-ticket-form {
            .wc-box-office-ticket-fields {
              h3 {
                a {
                  color: $dark-blue;
                }
              }
              .wc-box-office-ticket-fields-body {
                .form-row {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  justify-items: flex-start;
                  align-items: center;
                  @media (min-width: $bp-desktop) {
                    grid-template-columns: 1fr;
                  }
                }
              }
            }
            @media (min-width: $bp-wc-cart-table) {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: 5rem;
            }
          }
          .single_add_to_cart_button {
            display: block;
            margin: 0 auto;
          }
        }
        @media (min-width: $bp-desktop) {
          grid-area: summary;
        }
      }
      .cart-title {
        margin: 0;
        @media (min-width: $bp-desktop) {
          grid-area: cart-title;
          justify-self: flex-start;
          align-self: flex-end;
          // padding-top: 3rem;
        }
      }
      .woocommerce {
        margin-bottom: 4rem;
        @media (min-width: $bp-desktop) {
          grid-area: woocommerce;
          justify-self: flex-start;
        }
        .cart-empty.woocommerce-info {
          text-align: center;
          margin: 5rem 0;
        }
        .return-to-shop {
          display: none;
        }
        .woocommerce-notices-wrapper {
          display: none;
        }

        .woocommerce-cart-form {
          .shop_table {
            border-spacing: 0 2rem;
            @media (min-width: $bp-wc-cart-table) {
              border-spacing: 2rem;
            }
            .product-thumbnail {
              display: none;
            }
            tbody {
              .woocommerce-cart-form__cart-item.cart_item {
                font-size: 1rem;
                .product-remove {
                  display: grid;
                  grid-template-columns: 1fr;
                  justify-items: flex-end;
                  @media (min-width: $bp-wc-cart-table) {
                    justify-items: center;
                  }
                  .remove {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    text-decoration: none;
                    padding: 0.5rem;
                    background-color: $pink;
                    border-radius: 100%;
                    color: $black;
                    margin-bottom: 1rem;
                    @media (min-width: $bp-wc-cart-table) {
                      margin-bottom: 0;
                    }
                  }
                }
                .product-name {
                  .variation {
                    display: grid;
                    row-gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;
                    grid-template-columns: 2fr 1fr;

                    dt {
                      margin: 0;
                      font-weight: 400;
                      text-align: left;
                      @media (min-width: $bp-wc-cart-table) {
                        display: none;
                      }
                    }
                    dd {
                      margin: 0;
                      p {
                        margin: 0;
                        font-weight: 600;
                      }
                    }
                    @media (min-width: $bp-wc-cart-table) {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      column-gap: 0.325rem;
                      margin: 0;
                    }
                  }
                }
                .product-subtotal {
                  .woocommerce-Price-amount {
                    bdi {
                      font-weight: 600;
                    }
                  }
                }
              }
              tr:last-child {
                display: none;
              }
            }
          }
        }
        .cart-collaterals {
          .cart_totals {
            .shop_table.shop_table_responsive {
              tbody {
                tr {
                  th,
                  td {
                    @media (min-width: $bp-wc-cart-table) {
                      text-align: center;
                    }
                  }
                }
              }
            }
            .wc-proceed-to-checkout {
              .checkout-button {
                @include use-button-style;
                display: block;
                margin-top: 3rem;
              }
            }
          }
        }
      }
      @media (min-width: $bp-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: flex-start;
        grid-template-areas:
          "banner banner"
          "summary cart-title"
          "summary woocommerce";
      }
      grid-template-rows: auto 4.125rem auto;
      column-gap: 8rem;
    }
  }
}
