h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	@include use-heading-style;
}

h1 {
	font-size: 3rem;
}

h2 {
	color: $dark_blue;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0;

	&::before {
		content: "";
		width: min(10vw, 8rem);
		height: 0.25rem;
		background-color: currentColor;
		display: block;
	}
}
