// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin common-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;

	@media (min-width: $bp-tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-laptop) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: $bp-desktop) {
		grid-template-columns: repeat(5, 1fr);
	}
}