// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin common-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;

	@media (min-width: $bp-tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-laptop) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: $bp-desktop) {
		grid-template-columns: repeat(5, 1fr);
	}
}

@mixin use-full-width($vertical-padding: 0) {
  width: 100vw;
  margin: $vertical-padding calc(calc(100% - 100vw)/2);
}

@mixin disable-full-width($vertical-padding: 0) {
  width: 100%;
  margin: $vertical-padding 0;
}

@mixin use-blue-section {
	background-color: $blue;
	h1,
	h2 {
		color: $black;
	}
}

@mixin use-white-section {
	background-color: transparent;
	h1,
	h2 {
		color: $dark_blue;
	}
}

@mixin use-center-site-layout {
	display: grid;
	grid-template-columns: minmax($site-padding, 1fr) minmax(0, $max-site-width) minmax($site-padding, 1fr);
	& > * {
		grid-column: 2/3;
		width: 100%;
	}
}

@mixin disable-center-site-layout {
	display: block;
	grid-template-columns: unset;
	& > * {
		grid-column: unset;
		width: unset;
	}
}