// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Use the heading style for site
@mixin use-heading-style {
	font-weight: 500;
}

// Common grid to be used for news and events
@mixin common-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;

	@media (min-width: $bp-tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-laptop) {
		grid-template-columns: repeat(3, 1fr);
	}
}

// Let the wrapper escape the site layout and expand to full page width
@mixin use-full-width($vertical-margin: 0) {
  width: 100vw;
  margin: $vertical-margin calc(calc(100% - 100vw)/2);
}

// Reconstrain the wrapper to the site layout
@mixin disable-full-width($vertical-margin: 0) {
  width: 100%;
  margin: $vertical-margin 0;
}

// Use the blue background design
@mixin use-blue-background {
	background-color: $blue;
	h1,
	h2 {
		color: $black;
	}

	.carousel {
		.swiper-pagination {
			.swiper-pagination-bullet {
				background-color: $black;
				opacity: 0.3;
				&-active {
					background-color: $black;
					opacity: 1;
				}
			}
		}
	}
}

// Reset the blue background back to white
@mixin use-white-background {
	background-color: transparent;
	h1,
	h2 {
		color: $dark-blue;
	}

	.carousel {
		.swiper-pagination {
			.swiper-pagination-bullet {
				background-color: $pink;
				opacity: 1;
				&-active {
					background-color: $dark-pink;
				}
			}
		}
	}
}

// Recenter the wrapper using the default site layout
@mixin use-center-site-layout {
	display: grid;
	grid-template-columns: minmax($site-padding, 1fr) minmax(0, $max-site-width) minmax($site-padding, 1fr);
	& > * {
		grid-column: 2/3;
		width: 100%;
	}
}

// Unset the wrapper layout
@mixin disable-center-site-layout {
	display: block;
	grid-template-columns: unset;
	& > * {
		grid-column: unset;
		width: unset;
	}
}

// Shortcut to use a the blue section style
@mixin use-blue-section($vertical-margin: 0) {
	@include use-full-width($vertical-margin);
	@include use-center-site-layout;
	@include use-blue-background;
}

// Shortcut to disable the blue section style and go back to the default
@mixin disable-blue-section($vertical-margin: 0) {
	@include disable-full-width($vertical-margin);
	@include disable-center-site-layout;
	@include use-white-background;
}

// Set the button style to be ink and rounded
@mixin use-button-style {
	border: none;
	border-radius: 0.5rem;
	background: $pink;
	color: $black;
	line-height: 1;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
	text-align: center;

	&:hover, 
	&:active,
	&:focus	{
		background-color: $dark-pink;
	}
}