.main-navigation {
	$menu-height: calc( 100vh - $top-height);

	position: absolute;
	top: $top-height;
	left: 0;
	right: 0;
	height: $menu-height;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
	overflow: scroll;
	background-color: $blue;

	@media (min-width: $bp-laptop) {
		position: unset;
		height: unset;
		max-height: unset;
		transition: none;
		overflow: unset;
		background-color: unset;
		max-width: 40rem;
		width: 60%;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.nav-menu {
		width: 100%;

		@media (min-width: $bp-laptop) {
			display: flex;
			justify-content: space-between;

			.sub-menu {
				position: absolute;
				display: none;
				background-color: $blue;

				a {
					border-bottom: none;
					
					&:hover,
					&:focus {
						background-color: $dark-blue;
						border-bottom: none;
					}
				}
			}

			.menu-item {
				&:hover,
				&.focus,
				a:hover,
				a:focus {
					.sub-menu {
						display: unset;
					}
				}
			}
		}
	}
	
	.menu-item a {
		display: block;
		padding: 1rem;
		text-align: center;
		color: $black;
		text-decoration: none;
		border-bottom: 0.25rem solid transparent;

		svg {
			vertical-align: middle;
		}

		@media (min-width: $bp-laptop) {
			padding: 0.5rem;
		}

		&:hover,
		&:focus {
			background-color: $dark-blue;

			@media (min-width: $bp-laptop) {
				background-color: $blue;
				border-bottom: 0.25rem solid $dark-blue;
			}
		}
	}
	
	&.toggled {
		max-height: $menu-height;
	}
}