.site-footer {
  background-color: $blue;

  .footer-navigation {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}