.site-footer {
  @include use-blue-background;

  .footer-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}