.site-header {
  // Variables
  $header-height: 8rem;
  $buy-tickets-height: 2rem;
  $top-height: $header-height + $buy-tickets-height;

  position: relative;
  background-color: $blue;
  height: $top-height;
  display: grid;
  grid-template-columns: minmax($site-padding, 1fr) minmax(0,$max-site-width) minmax($site-padding, 1fr);
  grid-template-areas: ". content .";
  z-index: 20;

  @media (min-width: $bp-laptop) {
    height: $header-height;
  }

  .header-content {
    grid-area: content;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-branding {
    .site-title {
      margin: 0;
      
      .site-logo {
        width: 5rem;
        display: block;
      }
    }
  }

  .menu-toggle-button {

    @media (min-width: $bp-laptop) {
      display: none;
    }
  }

  .buy-tickets-link {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    height: $buy-tickets-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pink;
    color: $black;
    text-decoration: none;

    &:hover {
      background-color: $dark-pink;
    }

    @media (min-width: $bp-laptop) {
      position: unset;
      height: unset;
      display: unset;
      @include use-button-style;
    }
  }
}