.site-header {
  background-color: $blue;
  height: 8rem;
  display: grid;
  grid-template-columns: minmax($site-padding, 1fr) minmax(0,$max-site-width) minmax($site-padding, 1fr);
  grid-template-areas: ". content .";

  .header-content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-title {
    margin: 0;
  }

  .site-logo {
    width: 5rem;
    display: block;
  }
}