.loading-icon {
  padding: 1rem;
  
  img {
    transform-origin: center;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &.hidden {
    display: none;
  }
}