$size__site-main: 87.5rem;
$site-padding: 1rem;
$bp-phone-md: 23.5rem;  // 376px
$bp-phone-lg: 30rem;    // 480px
$bp-tablet: 35rem;      // 560px
$bp-laptop: 50rem;      // 800px
$bp-desktop: 75rem;     // 1200px
$bp-desktop-lg: 90rem;  // 1440px